<nav class="navbar navbar-dark bg-dark justify-content-around container-fluid">
  <div class="container">
    <a class="nav-link link-hover" routerLinkActive="link-active" routerLink="">Strona główna</a>
    <a class="nav-link link-hover" routerLinkActive="link-active" routerLink="/dragon">Kapsuły Dragon</a>
    <a class="nav-link link-hover" routerLinkActive="link-active" routerLink="/capsule">Misje kapsuł</a>
    <a class="nav-link link-hover" routerLinkActive="link-active" routerLink="/roadster">Roadster</a>45

    <a class="nav-link disabled" routerLinkActive="link-active" routerLink="/historia">Historia</a>
    <a class="nav-link disabled" routerLinkActive="link-active" routerLink="/cores">Core rakiety</a>
    <a class="nav-link disabled" routerLinkActive="link-active" routerLink="/launches">Starty</a>
  </div>
</nav>
